@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --main-light-color: hsla(201, 94%, 90%);
  --main-dark-color: hsla(201, 94%, 40%);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  background-color: var(--main-light-color);
}

#header-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 60px;
  padding-left: 1.5em;
  background-color: var(--main-dark-color);
  color: #fff;
}

#header-main i {
  display: none;
}

.fa-right-from-bracket {
  cursor: pointer;
  margin-right: 2em;
  font-size: 3em;
}

#header-main h1 {
  line-height: 60px;
}

#homepage {
  display: none;
}

#homepage h3 {
  font-size: 1.8rem;
}

#signUp {
  display: none;
}

#formLogin,
#formSignUp {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.2em;
}

#formLogin label,
#formSignUp label {
  margin-top: 15px;
}

#formLogin input,
#formSignUp input {
  font-size: 1.2em;
  margin: 10px;
  padding: 5px 10px;
}

.categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

#graph-section {
  display: none;
  position: relative;
  height: 30vh;
}

#myChart {
  margin: auto;
}

#quiz {
  display: none;
}

#question {
  margin: 0 5px;
  font-size: 1.5rem;
}

.answers {
  width: 90%;
}

.answer {
  width: 80%;
  min-height: 60px;
  margin: 10px;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  color: #fff;
}

#correctAnswer {
  display: none;
}

.red {
  background-color: rgb(237, 80, 80);
}

.yellow {
  background-color: rgb(131, 151, 0);
}

.green {
  background-color: rgb(0, 100, 0);
}

.blue {
  background-color: rgb(0, 0, 100);
}

.correct {
  background-color: rgb(0, 212, 0);
}

.wrong {
  background-color: red;
}

.grayout {
  background-color: rgb(122, 122, 122);
}

#results {
  display: none;
}

#results h3 {
  font-size: 2rem;
}

.card {
  max-width: 80%;
  min-height: 30vh;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, .7) 0px 7px 29px 0px;
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.big {
  height: 80vh;
}

.btn {
  max-height: 80px;
  margin: 10px auto;
  min-width: 120px;
  padding: 15px;
  background-color: var(--main-dark-color);
  color: #fff;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
}

.score {
  font-size: 5rem;
  width: 150px;
  height: 150px;
  line-height: 100px;
  background-color: rgb(176, 253, 176);
  border-radius: 50%;
}

@media (min-width:700px) {
  #quiz h3 {
    font-size: 3rem;
  }

  #quiz .answers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: 10px;
  }

  #quiz .answer {
    width: 100%;
  }

  #results h3 {
    font-size: 3rem;
  }

  .score {
    font-size: 9rem;
    width: 300px;
    height: 300px;
    line-height: 220px;
    background-color: rgb(176, 253, 176);
    border-radius: 50%;
  }

}

@media (min-width:1000px) {
  #question {
    font-size: 3rem;
    line-height: 1.5;
  }
}

@media (min-height:700px) {
  #quiz h3 {
    font-size: 2rem;
  }
}

@media (min-height:850px) {
  #quiz h3 {
    font-size: 2.5rem;
  }
}